{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if generate_button %}
    <li>
        <a href="{% url 'admin:horoscope_prediction_generate_with_gigachat_form' %}" class="addlink">
            Сгенерировать с GigaChat
        </a>
    </li>
    {% endif %}
    {% if show_reports_button %}
    <li>
        <a href="{% url 'admin:horoscope_reports' %}" class="viewlink">
            Отчеты
        </a>
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %} 